* {
  box-sizing: border-box; }

.selector-for-some-widget {
  box-sizing: content-box; }

.parentheses {
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px); }

.txt-parentheses {
  text-align: center;
  font-size: 15px;
  font-weight: bold; }
  .txt-parentheses::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
    width: 50px;
    height: 50px; }
  .txt-parentheses::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
    width: 50px;
    height: 50px; }

header > div > div a img {
  width: 90px; }
header > div > div p {
  font-size: 12px; }
header > div > .btn {
  top: 0;
  right: 0;
  width: 76px;
  height: 61px; }
header .btn-hdr {
  width: 261px;
  height: 41px; }
header .jumbotron {
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center; }
  header .jumbotron img {
    width: 317px;
    height: 111px; }

.btn-big {
  font-size: 18px;
  height: 94px;
  max-width: 800px; }

.fa-twitter {
  background-color: #1b95e0; }
  .fa-twitter span {
    font-size: 11px; }

.fa-facebook {
  background-color: blue; }
  .fa-facebook span {
    font-size: 11px; }

.share {
  background-color: blue; }
  .share span {
    font-size: 11px; }

.intro {
  background-image: url("../img/introbottom.jpg");
  background-size: cover;
  background-position: center; }

.about_circle {
  line-height: 60px;
  margin-top: -40px;
  height: 60px;
  width: 60px; }

.txt-focus {
  padding: 0;
  margin: 0 auto; }

.aboutbox {
  width: 1170px;
  max-width: calc(100% - 40px); }

.aboutsecond {
  background-image: url(../img/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center; }

.aboutthird {
  background-color: #016ea9; }
  .aboutthird p {
    font-size: 12px; }

.learnfromfreelancer {
  background-image: url("../img/learnfromfreelancer.jpg");
  background-size: cover;
  background-position: center;
  height: 120px; }

.learnfromprojects {
  background-image: url("../img/learnfromprojects.jpg");
  background-size: cover;
  background-position: center;
  height: 120px; }

.actuallyfree {
  background-image: url("../img/actuallyfree.jpg");
  background-size: cover;
  background-position: center;
  height: 120px; }

.teacher {
  background-image: url("../img/teacherbg.jpg");
  background-size: cover;
  background-position: center; }
  .teacher img {
    margin-top: -60px;
    height: 120px;
    width: 120px; }

@media (min-width: 768px) {
  html {
    font-size: 125%; }

  .parentheses {
    max-width: calc(100% - 10px); }

  .txt-parentheses {
    font-size: 24px; }

  header > div > div a img {
    width: 128px; }

  .about_circle {
    margin-top: -40px;
    line-height: 80px;
    height: 80px;
    width: 80px; }

  .intro {
    height: 587px; }

  .aboutthird {
    background-color: #016ea9; }
    .aboutthird p {
      font-size: 16px; }

  .teacher img {
    height: 198px;
    width: 198px; } }

/*# sourceMappingURL=style.css.map */
