// ベース 要素そのもののデフォルトスタイルを定義します
* {
  box-sizing: border-box;
}

li {
  list-style:none;
}

.selector-for-some-widget {
  box-sizing: content-box;
}
// レイアウト	ページをエリアごとに分割するためのスタイルを定義します
// モジュール	再利用可能な単位でパーツの見た目を定義します
.parentheses {
  position:relative;
  width: 860px;
  max-width: calc(100% - 40px);
}
.txt-parentheses {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
    width: 50px;
    height: 50px;
  }
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
    width: 50px;
    height: 50px;     
  }
}
  
// 状態（ステート）	レイアウトやモジュールの特定の状態におけるスタイルを定義します
// テーマ サイトのルック＆フィールを定義します
// .c-b-transparent {
  //   background-color: transparent;
  // }
  // #btn-large {
    //   width: 261px;
    //   height: 41px;
    //   display: block;
    // }
    // #btn-small {
      //   display: none;
      //   width: 76px;
      //   height: 75px;
      // }
      
      
      header {
        > div {
          > div {
            a {
              img{
                width: 90px;
              }
            }
            p {
              font-size: 12px;
            }
          }
          > .btn {
            top: 0;
            right: 0;
            width: 76px;
            height: 61px;
            // display: block;
          }
        }
        
.btn-hdr {
  width: 261px;
  height: 41px;
  // display: none;
}
        
        
  .jumbotron {
    background-image: url(../img/main.jpg);
    background-size: cover;
    // background-repeat: no-repeat;
    background-position: center;
    img {
      width: 317px;
      height: 111px;
    }
  }
}

.btn-big {
  font-size: 18px;
  height: 94px;
  max-width: 800px;
}

.fa-twitter {
  background-color: #1b95e0;
  span {
    font-size: 11px;
  }
}

.fa-facebook {
  background-color: blue;
  span {
    font-size: 11px;
  }
}

.share {
  background-color: blue;
  span {
    font-size: 11px;
  }
}

// intro
.intro {
  background-image: url("../img/introbottom.jpg");
  background-size: cover;
  background-position: center;
}

// about

.about {
  .about_circle {
    margin-top: -40px;
  }
}

.about_circle {
  line-height:60px;
  height: 60px;
  width: 60px;
}

.txt-focus {
  padding: 0;
  margin: 0 auto;
}

.aboutbox {
  width: 1170px;
  max-width: calc(100% - 40px);
}

// about 2nd
.aboutsecond {
  background-image: url(../img/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
}


// bout 3rd
.aboutthird {
  background-color: #016ea9;
  p {
    font-size: 12px;
  }
}

// merit
.learnfromfreelancer {
  background-image: url("../img/learnfromfreelancer.jpg");
  background-size: cover;
  background-position: center;
  height: 120px;
}

.learnfromprojects {
  background-image: url("../img/learnfromprojects.jpg");
  background-size: cover;
  background-position: center;
  height: 120px;
}

.actuallyfree {
  background-image: url("../img/actuallyfree.jpg");
  background-size: cover;
  background-position: center;
  height: 120px;
}

// teacher
.teacher {
  background-image: url("../img/teacherbg.jpg");
  background-size: cover;
  background-position: center;
  img {
    margin-top: -60px;
    height: 120px;
    width: 120px;
  }
}

// Q & A
.qa {
  .txt-parentheses {
    &::before {
      border-top: 4px solid white;
      border-left: 4px solid white;  
    }
    &::after {
      border-bottom: 4px solid white;
      border-right: 4px solid white;
    }

  }
  
}

// ▼
.triangle {
  height: 100px;
  width: 100px;
  font-size: 100px;
  margin-top: -50px;
  transform: scale(1.3, 1);
}
  // ablereal

.able-real {
  max-width: 780px;
  img {
    border: 4px solid #ebb94d;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

// what-learn
.what-learn {
  background-image: url("../img/classbg.jpg");
  background-size: cover;
  background-position: center;
  .col {
    max-width: 700px;
  }
  ul {
    max-width: 614px;
  }
  .w-l-box {
    max-width: 700px;
  }
}

// flow
.flow {
  .pc {
    width: 20px;
    height: 20px;
  }
}
.accordion {  
  img {
    width: 30px;
    height: 30px;
  }
  .btn {
    width: 100%;
    color: black;
    font-size: 16px;
  }
}

// bankoku
.bankoku {
  background-image: url("../img/bangkokbg.jpg");
  background-size: cover;
  background-position: center;
}




















// PCサイト用
@media (min-width: 768px) {

  html {
    font-size: 125%;
  }

  .parentheses {
    max-width: calc(100% - 10px);
  }

  .txt-parentheses {
    font-size: 24px;
  }

  header {
    > div {
      > div {
        a {
          img {
            width: 128px;
          }
        }
      }
    }
  }

  .about {
    .about_circle {
      margin-top: -40px;
    }
  }
  .about_circle {
    line-height:80px;
    height: 80px;
    width: 80px;
  }

  // intro
  .intro {
    height: 587px;
  }

  // about 3rd
  .aboutthird {
    background-color: #016ea9;
    p {
      font-size: 16px;
    }
  }

  .teacher {
    img {
      height: 198px;
      width: 198px;
    }
  }
}

// Q & A
.triangle {
  height: 50px;
  width: 50px;
  font-size: 50px;
  margin-top: -30px;
  transform: scale(1.3, 1);
}

